
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    input {
      width: 75%;
      padding: .8rem 1rem;
      font-size: 1.1rem;
      border: none;
      border-radius: 10px;
      background-color: $lightest-red-color ;
      opacity: .8;
      text-align: center;
      &:focus{
        outline: none;
        opacity: 1;
      }
      
    }
    .btn-wrapper{
        button {
            padding: 0.7rem 2.5rem;
            background-color: $secondary-color;
            border: none;
            border-radius: 20px;
            color: $soft-purple;
            cursor: pointer;
            @include softTransition;
            &:hover{
                background-color: $light-red-color;
            }
          }
    }
  }