
//colors
$primary-color : #CC78F0;
$secondary-color : #F078A2;
$thirdy-color : #F079EB;
$purple-color : #A578F0;
$light-red-color : #F08178;
$lightest-red-color : #ed9087cb;
$soft-purple : #F2D5F1;
$soft-white : #eae3ea;